
#btn1 {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 16px 32px;
  text-align: center;
  background-color: white;
  color: black;
  border: 4px solid #e4e009;
  border-radius: 5px;
}
#btn1:hover {
  background-color: #e4e009;
  color: white;
  cursor: pointer;
}
#btn2 {
  cursor: pointer;
  padding: 5px 10px;
  background: #00b0f0;
  color: #fff;
  border: none;
  border-radius: 5px;
}
#btn3 {
  cursor: pointer;
  padding: 5px 10px;
  background: #f560099d;
  color: #fff;
  border: none;
  border-radius: 5px;
}
#fil2 {
  color: #00b0f0;
  text-align: left;
}
#column2 {
  border: #00b0f0;
  border-style: solid;
  border-radius: 5px;
}
#fil1 {
  color: #f560099d;
  text-align: left;
}
#column1 {
  border: #f560099d;
  border-style: solid;
  border-radius: 5px;
}
#column3 {
  border: #1a0b029d;
  border-style: solid;
  border-radius: 5px;
  width: 65%;
  height: 70px;
  font-size: 20px;
}
#column4 {
    border: #1a0b029d;
    border-style: solid;
    border-radius: 5px;
    width: 80%;
    height: 60px;
    font-size: 18px;
}
#ckx {
  height: 15px;
  width: 15px;
  margin-left: 25px;
  margin-top: 10px;
  padding: 70px 0;
}
